.masuk {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 18px;
}

mjx-container {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.kett{
   margin-top: 40px;
   margin-left: 10px;
   font-size: 18px;
  }

#myProgress {
    width: 100%;
    background-color: rgb(196, 193, 193);
    border-radius: 2px;
    margin-top: 8px;
  }
  
  #myBar {
    height: 25px;
    background-color: #04AA6D;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    color: white;
    transition-property: width;
       transition-duration: 2s;
      transition-timing-function: ease-in;
  }

.text {
    font-size: 20px;
    font-weight: bold;
}

.bg_nav {
    width: 99%;
    background-color: #b66161;
}

.bg_full {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid black;
    color: white;
}

.bg_soal {
    width: 100%;
    padding: 10px 0;
    background-color: #b66161;

}

.soal_nav {
    width: 10%;
    text-align: center;
    line-height: 0.5px;
    border: 2px solid #660033;
    border-radius: 5px;
    float: left;
    margin-left: 8.5%;
    margin-top: 10px;
    box-sizing: border-box;
}

.soal_nav:hover {
    cursor: pointer;
    background-color: lightsalmon;
}

.bg_soal span {
    padding: 2px;
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.belum {
    background-color: white;
}

.sudah {
    background-color: #660033;
    color: white;
}

.fontbesar {
    font-size: 23px;
}

.fontsedang {
    font-size: 20px;
}

.ket {
    width: 100%;
    margin-left: 8.5%;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.selesai {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    background-color: white;
    cursor: pointer;
    height: 38px;
    border-radius: 10px;
    line-height: 30px;
    margin-left: 10%;
    border: 2px solid #660033;
    color: black;
}

.selesai:hover {
    background-color: #8d4646;
    color: white;
}

.hasil {
    background-color: #46B29E;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}

.skor {
    font-size: 50px;
    float: left;
    border: 3px solid rgb(9, 64, 82);
    padding: 15px 15px;
    margin-left: 30px;
    margin-right: 20px;
}

.bnr_slh {
    font-size: 20px;
    margin-top: 5px;
}

.bnr_slh span {
    padding: 0 !important;
    margin: 0 !important;
}

.hasil a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    background-color: #46B29E;
    border: 2px solid rgb(9, 64, 82);
    padding: 2px 10px;
    border-radius: 5px;
}

.hasil a:hover {
    background-color: rgb(9, 64, 82);
}

.jrk {
    margin-top: 12px;
}


.bg_pertanyaan {
    width: 100%;
    margin-top: 10px;
}

.no {
    background-color: #d27979;
    padding: 0;
    border-radius: 10px 10px 0 0;
    border: 2px solid #660033;
}

.no p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.inti_pertanyaan {
    border-left: 2px solid rgb(9, 64, 82);
    border-bottom: 2px solid rgb(9, 64, 82);
    border-right: 2px solid rgb(9, 64, 82);
    box-sizing: border-box;
    padding: 10px 20px;
}

.pertanyaannya {
    font-size: 18px;
}

.batas {
    margin-top: 20px;
    border-bottom: 1px solid #660033;
}

.gambar1{
    width: 100%;
}

/* radio button */
.gambar{
    width: 50px;
}

.bg_pilihan,
.checkbox {
    position: relative;
    margin: 20px 0;
    display: block;
    font-size: 18px;
}

.bg_pilihan :hover,
.checkbox:hover {
    cursor: pointer;
}


.checkbox {
    display: block;
}

.bg_pilihan input,
.checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    visibility: hidden;
}

.bg_pilihan .textnya,
.checkbox .textnya {
    margin-left: 30px;
    margin-bottom: -20px;
    margin-top: -20px;
}

.nav_pilihan,
.fake-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(9, 64, 82);
    
}

.nav_pilihan:after,
.fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #660033;
    transform: translateX(-50%) translateY(-50%);
}

.nav_pilihan {
    border-radius: 50%;
}

.nav_pilihan:after {
    border-radius: 50%;
}

input[type="radio"]:checked+span .nav_pilihan:after {
    display: block;
}

span {
    display: inline-block;
}


/* akhir button */


.nav_sebelum {
    background-color: white;
    width: auto;    
    padding: 0 15px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #660033;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
    color: black;
}

.nav_sebelum:hover {
    background-color: #8d4646;
    color: white;
}

.nav_sebelum p {
    font-size: 18px;
}

.nav_selanjut {
    background-color: white;
    width: auto;    
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #660033;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
    color: black;
}

.nav_selanjut:hover {
    background-color: #8d4646;
    color: white;
}

.nav_selanjut p {
    font-size: 18px;
}

.hilang {
    display: none;
}

.disable {
    cursor: not-allowed;
    opacity: 0.5;
}

.disablee {
    background-color: rgb(133, 133, 133) !important;
    color: rgb(37, 37, 37);
    cursor: default !important;
}

.center {
    text-align: center;
}


.tt_salah {
    border: 2px solid red;
}

.petunjuk {
    display: inline-block;
    background-color: #b42b48;
    width: 80%;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    margin: 3px;
    border: 2px solid #5c0832;
    color: black;
}

.petunjuk:hover {
    cursor: pointer;
}

.isinya {
    padding: 3px 10px;
    border: 2px solid #660033;
    margin-left: 3px;
    margin-top: -5px;
    box-sizing: border-box;
    font-size: 18px;
    margin-right: 2px;
}

.tmbl:hover{
    background-color: #d27979;
}

ol {
    margin-left: 20px;
}

.data {
    min-height: 670px;
    height: 670x;
    background-color: white;
}

.dataaa {
    min-height: 670px;
    height: 670px;
    background-color: white;
}

.data_diri {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 23px;
    box-sizing: border-box;
    border: 2px solid rgb(9, 64, 82);
    padding-top: 10px 0px;
    height: 670px !important;
}

label {
    width: 300px;
    display: inline-block;
    margin-left: 5%;
    /* text-align: center; */
    padding-left: 10px;
    font-size: 23px;
    margin-top: 10px;
}

.mundur {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
}

.aaa {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
}

.maju {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
}

.tmbl {
    display: inline-block;
    width: auto;
    font-family: Georgia,
    'Times New Roman',
    Times,
    serif;
    color: black;
    padding: 5px 5px;
    background-color: white;
    border: 2px solid #660033;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.lanjut {
    display: inline-block;
    width: 150px;
    padding: 5px 5px;
    background-color: white;
    border: 2px solid #660033;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 27%;
    font-size: 19px;
}

.lanjut:hover {
    background-color: #d27979;
    cursor: pointer;
}

.t_hasil {
    text-align: center;
    border: 4px solid #46B29E;
    border-radius: 5px;
    padding: 5px;
    max-width: 312px;
    width: 312px;
    
}

td {
    padding: 5px 0px;
}

.ket_hasil {
    width: 118px;
    font-size: 15px;
    padding: 5px !important;
}

a {
    text-decoration: none;
    color: black;
}

/* ---------------------------------------------------------------------------------- */

@media (min-width : 992px) {

    .t_hasil {        
        border: 5px solid #660033;
        border-radius: 5px;
        padding: 10px;
        max-width: 530px;
        width: 530px;
    }

    td {
        padding: 0px;
    }

    .ket_hasil {
        width: 150px;
        font-size: 1.4vw !important;
    }

    .skornya {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1.6vw;
        box-sizing: border-box;
        border: 2px solid rgb(9, 64, 82);
        padding-top: 10px 0px;
        min-height: auto;
        padding-bottom: 30px;
    }

    ol {
        margin-left: 30px;
    }

    .gambar1{
        width: fit-content;
    }

    .petunjuk {
        width: 50%;
        font-size: 1.6vw;
    }

    .isinya {
        font-size: 1.6vw;
        margin-right: 5px;
    }

    .data_diri {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1.6vw;
        box-sizing: border-box;
        border: 2px solid rgb(9, 64, 82);
        padding-top: 10px 0px;
        height: 75vh !important;
    }

    label {
        width: 500px;
        display: inline-block;
        margin-left: 33%;
        font-size: 1.6vw;
        margin-top: 10px;

    }

    .mundur {
        margin-left: 10px !important;
        display: inline-block;
    }

    .maju {
        display: inline-block;
        width: 350px;
        padding: 5px 5px;
    }

    .aaa {
        
        margin-left: 32px !important;
    }


    #nama,
    #sekolah,
    #kelas {
        width: 300px;
        font-size: 1.6vw;
        margin-left: 30px;
        padding: 0px 10px;
    }

    .lanjut {
        display: inline-block;
        width: 200px;
        padding: 5px 5px;
        background-color: white;
        color: black;
        border-radius: 5px;
        border: 2px solid #660033;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 47%;
        font-size: 1.6vw !important;
    }

    .lanjut:hover {
        background-color: #8d4646;
        color: white;
        cursor: pointer;
    }


    .masuk {
        font-size: 1.6vw;
    }

    /* .soal_nav {
        width: 14%;
        height: 18%;
        margin-left: 8.5%;
    } */

    .hasil {
        padding: 10px;
        margin-top: 8px;
    }

    .skor {
        font-size: 1.8vw;
        padding: 15px 15px;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .bnr_slh {
        font-size: 1.4vw;
        margin-top: 2px;
    }


    .jrk {
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .pertanyaannya {
        font-size: 1.6vw;
    }

    .no p {
        margin-left: 1.6vw !important;
    }

    /* .nav_sebelum {
        width: 26%;
    }

    .nav_sebelum p {
        font-size: 1.6vw;
    } */

    /* .nav_selanjut {
        width: 26%;
    } */

    /* .nav_selanjut p {
        font-size: 1.6vw;
    } */
    
    .bg_pilihan,
    .checkbox {
        font-size: 1.6vw;
    }

    .dataaa {
        min-height: auto;
        background-color: white;
        height: auto;
    }

    .data {
        min-height: auto;
        height: auto;
        background-color: white;
    }

    .bg_soal span {
        padding: 2px;
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .fontsedang {
        font-size: 1.3vw;
    }
  
    
}
