* {
    box-sizing: border-box;
}

h2{
    font-family: 'Adobe Fangsong Std R';
    font-size: 20px;
  }

  .home {
    width: 7%;
    float: right;
    margin-top: -30px;
  }

body {
    font-family: Adobe Fangsong Std R;
  }

header{
    background-color: #a6294b;
    padding: 10px;
    text-align: center;
    color: white;
    height: 100px;
  }

.clear {
    clear: both;
}

.kiri {
    background-color: white;
    padding: 15px;
    text-align: justify;
    }

.kanan {
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    text-align: justify;
    
}

.hilang_konten {
    display: inline-block;
}


a {
    text-decoration: none;
    color: black;
}

.hilang1 {
    display: none !important;
}

ul li .nihhh {
    padding: 10px 2px;
    height: auto;
    background-color: rgb(131, 176, 190);
    text-align: justify;

}

ul li .besarrr {
    height: 55px;
}

.center {
    text-align: center;
}

.disablee {
    background-color: rgb(133, 133, 133) !important;
    color: rgb(37, 37, 37);
    cursor: default !important;
}

.hilang {
    display: none;
}

.clear {
    clear: both;
}

.aa {
    display: inline-block;
}

/* -----------------------------------------------------------------------------------------------------*/
/* Desktop version  */
@media (min-width : 992px) {
    h2{
        font-family: 'Adobe Fangsong Std R';
        margin-top: 15px;
        font-size: 30px;
    }
    

    .konten {
        float: left;
        left: 13.5%;
        top: 8%;
        position: absolute;
        background-color: white;
        height: 581px;
        width: 100%;
        padding: 15px;
        overflow: hidden;
        border: 2px solid #7f8c8d;
        border-radius: 5px;
    }

    .inti-konten {
        width: 100%;
    }

    .kiri {
        float: left;
        width: 70%;
        background-color: white;
        height: 90vh;
        overflow: auto;
        padding-left: 20px;
        text-align: justify;
        box-sizing: border-box;
        
    }

    .kanan {
        float: right;
        width: 30%;
        background-color: white;
        height: 80vh;        
        padding: 20px;
        text-align: justify;
        box-sizing: border-box;
        
    }

    .home {
        width: 3%;
        float: right;
        margin-right: 10px;
        margin-top: -50px;
      }

      header{
        background-color: #a6294b;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        color: white;
        height: 100px;
      }
}