*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  /* font-family: Century Gothic; */
}

header{
  width:98%;
  text-align: center;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold ;
  margin:1vw;
  padding:1vw 0 1vw 0;
  border-bottom:8px dotted rgb(170, 58, 58);
}

h1{
  color: white;
}

.materi{
  width:28%;
  float:left;
  padding-top: 9vw;
  margin-left: 80px;
}

.kikd{
  width:35%;
  float:left;
  padding-top: 8.5vw;
  margin-left: -10px;
}

.info{
  width:35%;
  float:left;
  padding-top: 8vw;
  margin-left: -50px;
}


.ef{
  -webkit-transition:all .6s cubic-bezier(.165,.84,.44,1);
  transition:all .6s cubic-bezier(.165,.84,.44,1)
}
  
.ef::after{
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  -webkit-transition:all .6s cubic-bezier(.165,.84,.44,1);
  transition:all .6s cubic-bezier(.165,.84,.44,1)}
  
  .ef:hover{-webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1)
  }
  .ef:hover::after{
    opacity:1
  }

  @media screen and (max-width:992px) {
    nav, article {
      width: 100%;
      height: auto;
    }

    body{
      background-position: bottom right;
    }

    .materi{
      width: 50%;
      float: left;
      padding-top: 0;
      margin-left: 24%;
    }
    
    .kikd{
      width: 65%;
      float: left;
      padding-top: 8vw;
      margin-left: 17.5%;
    }
    
    .info{
      width: 65%;
      float: left;
      padding-top: 8vw;
      margin-left: 15.5%;
    }

  }